@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* --default-font-family: "Inter", sans-serif; */
  --default-font-family: monospace;
  --border-3: 3px;
}

body {
  @apply bg-stone-900 text-stone-100 text-lg;
}

.dotted-background {
  background-image: radial-gradient(#292524 2px, transparent 0);
  background-size: 30px 30px;
}

::-webkit-scrollbar {
  @apply hidden;
}
